body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
  html{
    height: 100%;
  }
  
  .full-height{
    height: 100%;
  }
  
/* The navbar container */
.header {
    padding: 20px;
    /* border-bottom: 1px solid #f1f1f1; */
  }
.topnav {
    overflow: hidden;
    /* background-color: #c2bebe; */
    border-bottom: 1px solid #dbe1e7;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #585757;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .selected {
    border-bottom: 1px solid black;
    font-weight: bold;
    color: black;
  }

  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }

  .gray-background{
    background-color: #f6f8fa;
  }